{% extends "base_navigation.html" %}

{% set platform_name = "LogBait Casa de Apuestas Online" %}
{% set main_page_link = url_for('index.home') %}

{% macro brand_subtitle() %}{% endmacro %}

{% block navbar_entries %}
{% if current_user.is_authenticated %}
<span class="navbar-text mx-3">
    <i class="fas fa-bolt me-1"></i>
    $<span id="balance">{{ "%.2f"|format(current_user.balance) }}</span>
</span>
<a class="nav-link {{ 'active' if request.endpoint == 'dashboard' }}" href="{{ url_for('dashboard.home') }}">
    <i class="fas fa-home me-1"></i>Dashboard
</a>
<a class="nav-link {{ 'active' if request.endpoint == 'multijugador' }}" href="{{ url_for('salas_espera.lobby') }}">
    <i class="fas fa-people-roof me-1"></i>Salas
</a>
<a class="nav-link {{ 'active' if request.endpoint == 'estadisticas' }}" href="{{ url_for('estadisticas.home') }}">
    <i class="fas fa-chart-column me-1"></i>Estadísticas
</a>
<a class="nav-link {{ 'active' if request.endpoint == 'perfil' }}" href="{{ url_for('perfil.home') }}">
    <i class="fas fa-user-astronaut me-1"></i>Perfil
</a>
{% endif %}
{% endblock %}