{% extends "base/base_casino.html" %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="mx-auto" style="max-width: 26em">
        <div class="card">
            <div class="card-body text-center p-sm-5 p-4">
                <i class="fas fa-sign-in-alt fs-1 mb-2"></i>
                <h2 class="mb-4">Iniciar sesión</h2>
                <form method="POST">
                    <div class="mb-2">
                        <input type="text" class="form-control p-2" id="username" name="username" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control p-2" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
                </form>
                <div class="mt-4">
                    <p class="mb-2">¿Nuevo en LogBait?</p>
                    <a class="btn btn-outline-primary" href="{{ url_for('register.home') }}">Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}