{% extends "base/base_casino.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="mx-auto" style="max-width: 32em">
        <div class="card">
            <div class="card-body p-sm-5 p-4">
                <div class="text-center mb-2">
                    <i class="fas fa-user-plus fs-1 mb-2"></i>
                    <h2 class="mb-3">Registrarse</h2>
                    <p>Rellena los siguientes datos para crear una nueva cuenta en LogBait.</p>
                </div>
                <form method="POST">
                    <div class="mb-2">
                        <label for="username" class="form-label mb-1 fw-bold">Usuario</label>
                        <input type="text" class="form-control p-2" id="username" name="username" required>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="form-label mb-1 fw-bold">Correo electrónico</label>
                        <input type="email" class="form-control p-2" id="email" name="email" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label mb-1 fw-bold">Contraseña</label>
                        <input type="password" class="form-control p-2" id="password" name="password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                        <p class="small mt-3">
                            Al registrarte, aceptas los <a href="{{ url_for('flatpage', path='terminos_uso') }}">Términos y Condiciones de Uso</a>. Para más información sobre las prácticas de privacidad, lee la <a href="{{ url_for('flatpage', path='politica_privacidad') }}">Política de Privacidad</a> de LogBait.
                        </p>
                    </div>
                </form>
                <div class="mt-4 text-center">
                    <p class="mb-2">¿Ya tienes cuenta?</p>
                    <a class="btn btn-outline-primary" href="{{ url_for('login.home') }}">Inicia sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}